.git
.gitignore
.idea
.vscode
node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
vendor
storage/*.key
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
public/storage
.env
.env.*
phpunit.xml
Dockerfile
.dockerignore

# OS junk
Thumbs.db
.DS_Store
